.image-box {
  /* Display a large image box, should be stackable up to 3 in a row */
  width: 30rem;
  height: 30rem;
  border: 1px solid #000;
  position: relative;
  border-radius: 0.5rem;
}

.image-box img {
  /* Make the image fill the box */
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.image-box button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.image-wrapper {
  /* Use flex box to center the images vertically and horizontally on the page */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 1rem;
}
